@model Way2Software2.Models.GHUser

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Informações do candidato.</h1>

            </hgroup>
            <img class="avatar" src="@Model.avatar_url"/>
            <div class="avatar">
                <h3>@Model.name</h3>
                <a href="@Model.html_url"> github/@Model.login</a><br>
                <a href="mailto:@Model.email">@Model.email</a><br>
                Usuário desde: @Model.CreatedAtFormated
            </div>
        </div>
    </section>
}
<hgroup class="title">
    <h1>Meus repositórios</h1>
</hgroup>

<article>

    <ul>
     
        @foreach(var item in @Model.Repositories){
        <li >
            <div>   
                <hr />      
                <span class="repositories">@item.stargazers_count Estrelas</span>
                <h3 class="repositories">
                    @Html.ActionLink(item.name, "Repository", "Home", new { repository_fullname = item.full_name }, null)
                </h3>   
                @item.description
                <hr />
            
            </div>       
        </li>
        
        }

    </ul>
</article>
