@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>

            </hgroup>
            <img class="avatar" src="@ViewBag.GitHubUserAvatarURL" align="left"/>
            <div class="avatar">
                <h3>@ViewBag.GitHubUserName</h3>
                <a href="@ViewBag.GitHubHtmlURL"> github/@ViewBag.GitHubUserLogin</a><br>
                <a href="mailto:@ViewBag.GitHubUserEmail">@ViewBag.GitHubUserEmail</a><br>
                Usuário desde: @ViewBag.GitHubCreatedAt 
            </div>
        </div>
    </section>
}
<hgroup class="title">
    <h1>@ViewBag.SubTitle</h1>
</hgroup>

<ol class="round">

    @foreach(System.Data.DataRow row in ((System.Data.DataTable)ViewBag.DataTable).Rows){
    <li >
        <div>   
            <hr />      
            <span class="repositories">@row.ItemArray[2].ToString() Estrelas</span>
            <h3 class="repositories">@row.ItemArray[0].ToString()</h3>   
            @row.ItemArray[1].ToString()
            <hr />
        </div>       
    </li>
        
    }

</ol>
