
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
   <section id="searchForm">
@using (Html.BeginForm("Search", "Home")) {

    @Html.TextBox("keyword")
    <input type="submit" value="Pesquisar" />
    
    <ol class="round">

        @foreach(System.Data.DataRow row in ((System.Data.DataTable)ViewBag.DataTable).Rows){
        <li >
            <div>
                <hr>
                <span class="repositories">@row.ItemArray[2].ToString() Estrelas</span>
                <h3 class="repositories">@row.ItemArray[0].ToString()</h3>
                @row.ItemArray[1].ToString()
                <hr>                   
            </div>                 
        
        </li>
        
        }
        <li><h3>@ViewBag.EmptyMsg</h3></li>
    </ol>
}
</section>

</article>
