@model List<Way2Software2.Models.GHRepository>

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
   <section id="searchForm">
@using (Html.BeginForm("Search", "Home")) {

    @Html.TextBox("keyword")
    <input type="submit" value="Pesquisar" />
    
    <ul>

        @if (Model != null){
            foreach(var item in Model){
            <li >
                <div>
                    <hr>
                    <span class="repositories">@item.stargazers_count Estrelas</span>

                    <h3 class="repositories">
                         @Html.ActionLink(item.name, "Repository", "Home", new { repository_fullname = item.full_name }, null)
                    </h3>
                    @item.description
                    <hr>                   
                </div>                 
        
            </li>
        
            }
            if (@Model.Count == 0){
               <li><h3>@ViewBag.EmptyMsg</h3></li>
            }
        }        
            
    </ul>
}
</section>

</article>
